<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paper.mapper.BookMapper">
	<select id="queryAllBook" resultType="book">
		select * from t_book
	</select>
	<select id="queryClsBook" parameterType="int" resultType="book">
		select * from t_book where cls = #{cls}
	</select>
	<select id="queryAllCls" resultType="cls">
		select * from t_bookcls
	</select>
	<select id="queryBookById" parameterType="int" resultType="book">
		select * from t_book where id = #{id}
	</select>
	<insert id="addNewBook" parameterType="book">
		insert into `t_book` (`img`, `title`, `author`, `price`)
		values (#{img}, #{title}, #{author}, #{price})
	</insert>
	<delete id="deleteBookById" parameterType="int">
		delete from t_book where id = #{id}
	</delete>
	<update id="updateBookById" parameterType="book">
		update `t_book` set `img` = #{img}, `title` = #{title}, `author` = #{author}, `price` = #{price} where `id` = #{id}
	</update>
</mapper>