<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paper.mapper.BookAndOrderMapper">
	<insert id="addNewBookAndOrder" parameterType="bookAndOrder">
		insert into `t_bookandorder`(`bookid`,`booknumber`,`orderid`) values(#{bookid},#{booknumber},#{orderid})
	</insert>
	<select id="queryAllBookAndOrder" resultType="bookAndOrder">
		select * from `t_bookandorder`
	</select>
	<select id="queryBookAndOrderByOrderid" parameterType="int" resultType="bookAndOrder">
		select * from `t_bookandorder` where `orderid` = #{orderid}
	</select>
	<select id="queryOrderidByBookid" parameterType="int" resultType="int">
		select `orderid` from `t_bookandorder` where `bookid` = #{bookid}
	</select>
</mapper>